---
import '../styles/global.css'
import { Button } from '@/components/ui/button'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Hyfy Agency - From Idea to MVP in 65% Less Time</title>
	</head>
	<body>
		<div class="p-8">
			<Button client:load>Test Button</Button>
		</div>
	</body>
</html>
